/* basic */
.left {
    float: left;
    position: relative;
    top: 10px;
}

.right {
    float: right;
    position: relative;
    top: 24px;
}


nav {
    position: relative;
    height: 81px;
    padding: 0 calc(50% - 700px);
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.18);
}

/* logo */
.nav-brand {
    height: 55px;
    width: 220px;
    background: url("../images/logo.png") no-repeat;
    background-size: cover;
}

/* left */

.nav-left>li button {
    width: 101px;
    height: 57px;
    background: transparent;
    border: 0;
    cursor: pointer;
}

.nav-left>li button span {
    width: 38px;
    height: 19px;
    font-size: 18px;
    font-family: "Microsoft YaHei";
    color: rgb(0, 0, 0);
    line-height: 14px;
}

.nav-left>li:first-child button {
    border-radius: 10px;
    background: rgba(59, 177, 73, 1);
    border-radius: 10px;
    color: white;
}

.nav-left>li:first-child button>span {
    color: white;
}


/* form */

.nav-form {
    top: 20px;
    left: 20px;
}

.nav-form>input {
    width: 281px;
    height: 34px;
    border: 1px solid rgb(163, 163, 163);
    display: block;
    border-radius: 16px;
    padding-left: 15px;
    font-size: 14px;
    line-height: 14px;
}

.nav-form>input:placeholder-shown {
    color: rgba(112, 112, 112, 1);
}

.nav-form .search {
    display: block;
    background: url("../images/search.png") no-repeat;
    height: 22px;
    width: 23px;
    position: absolute;
    bottom: 8px;
    right: 11px;
    cursor: pointer;
}


/* right */
.nav-right>li a {
    font-size: 16px;
    color: rgba(112, 112, 112, 1);
    padding-top: 8px;
    padding-left: 30px;
    margin-left: 85px;
}

.nav-right>li .writing {
    background: url("../images/writing.png") no-repeat left center;
    background-size: 25px 25px;
    color: #43B451;
}

.nav-right>li .person {
    background: url("../images/person.png") no-repeat left center;
    background-size: 18px 21px;
    padding-top: 6px;
}


/* 下拉菜单 */
.dropdown:focus+.drop-menu {
    display: block;
}

.drop-menu {
    position: absolute;
    background: white;
    border: 1px solid rgb(201, 201, 201);
    padding: 0;
    top: 40px;
    right: 0;
    display: none;
}

.drop-menu li {
    display: block;
}

.drop-menu li a {
    color: #707070;
    font-size: 14px;
    text-align: center;
    margin-left: 0;
    padding: 5px 10px
}

.drop-menu li a:hover {
    background: #3BB149;
    color: white;
}

/* 中间 */
main{
    padding-top: 50px;
}
article h1{
    font-size: 30px;
    font-weight: 400;
    line-height:21px;
    text-align: center;
}
article .title-row{
    text-align: center;
}
article .title-row a,
article .title-row span{
    margin-left: 65px;
}
article .title-row a{
    display: inline;
    color: #298C35;
}

article .content{
    width: 1000px;
}

article .start{
    background: url("../images/dianzan_gray.png") no-repeat left center;
    padding-left: 25px;
    vertical-align: bottom;
    position: relative;
    left: 50%;
}

.reward{
    width: 410px;
    height: 250px;
    position: relative;
}
.reward p{
    font-size: 18px;
}

.reward textarea{
    height: 200px;
    width: 400px;
    border: 1px solid #818181;
    border-radius: 5px;
    resize: none;
    padding-top: 5px;
    padding-left: 5px;
}
.reward .reward-btn{
    color: white;
    background: #43B451;
    display: block;
    border: 0;
    padding: 7px 20px;
    border-radius: 3px;
    position: absolute;
    margin-top: 5px;
    right: 3px;
}

footer {
    height: 53px;
    background: #5A5A5A;
    color: #FFFFFF;
    font-size: 12px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer p {
    text-align: center;
    line-height: 30px;
}